$breakpoint-tablet: 754px;

.busPlan {
  position: relative;
  display: block;
  margin: auto;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  @media all and (min-width: $breakpoint-tablet) {
    width: 644px;
    margin: auto;
  }
}

.busPlan__layer {
  position: relative;
  float: left;
  width: 300px;
  max-width: 90vw;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  @media all and (min-width: $breakpoint-tablet) {
    border-bottom: none;
  }
}

.busPlan__layer:first-child {
  @media all and (min-width: $breakpoint-tablet) {
    border-right: 1px solid #ddd;
    border-bottom: none;
  }
}

.busPlan__column {
  width: calc(50% - 50px);
  float: left;
}

.busPlan__column_narrow {
  width: 40px;
  margin-right: 10px;
}

.busPlan__column_first {
  margin-right: 55px;
}

.busPlan__seat {
  display: block;
  width: calc(50% - 10px);
  height: 50px;
  line-height: 50px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 5px;
  float: left;
  transition: .3s ease-out;
  cursor: pointer;
}

.busPlan__seat_selected {
  background: #73d700;
  color: white;
}

.busPlan__seat_occupied {
  background: #c8c8c8;
  color: white;
  cursor: not-allowed;
}

.busPlan__driver {
  width: calc(100% - 12px);
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 50px;
  background: #dddddd;
}

.busPlan__door {
  width: calc(100% - 12px);
  height: 109px;
  margin-bottom: 6px;
  float: left;
}

.busPlan__table {
  width: calc(100% - 40px);
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: center;
  line-height: 50px;
  background: #dddddd;
  float: left;
}

.busPlan__normal_seat {
  width: calc(50% - 10px);
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: center;
  line-height: 50px;
  background: #dddddd;
  margin-bottom: 5px;
  margin-right: 5px;
  float: left;
}

.busPlan__toilet {
  width: calc(100% - 10px);
  height: 80px;
  line-height: 80px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  text-align: center;
  float: left;
}

.busPlan__stairs {
  width: calc(100% - 12px);
  height: 108px;
  border-radius: 3px;
  text-align: center;
  line-height: 100px;
  float: left;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  background: #dddddd;
}

.busPlan__layerTitle {
  text-align: center;
  margin-bottom: 20px;
}

.busPlan__empty {
  width: 40px;
  float: left;
  height: 50px;
  margin-bottom: 5px;
}