.seat-box {
  background: #fff;
  border: solid 1px;
  padding: 5px 10px;

  &.occupied {
    background: #333;
    color: #fff;
    cursor: not-allowed !important;
  }

  &.selected {
    background: #009e73;
    color: #fff;
  }
}