$seat-block-size: 50px;
$margin-horizontal: 5px;
$border-size: 2px;
$seat-box-size: $seat-block-size + 2 * $margin-horizontal + 2 * $border-size;
$stair-size: $seat-box-size * 2;

$border-radius: 5px;
$label-font-size: 16px;
$label-font-weight: 700;

$color-panorama-seat:  #ffad00;
$color-table-seat:  #e1e1e1;
$color-premium-seat:  #73d700;
$color-selected:  #73d700;
$color-occupied:  #c8c8c8;
$color-not-reservable:  #e1e1e1;

// seat
.seat-box {
  border: solid $border-size transparent;
  border-radius: $border-radius;
  cursor: pointer;
  display: inline-block;
  height: $seat-block-size;
  margin: $margin-horizontal;
  width: $seat-block-size;

  &.occupied {
    background: $color-occupied;
    cursor: auto !important;
  }

  &.selected {
    background: $color-selected;
  }
}

.category-1 {
  border-color: $color-panorama-seat;
}

.category-2 {
  border-color: $color-table-seat;
}

.category-3 {
  border-color: $color-premium-seat;
}

// Layout

.cabin {
  display: flex;
}

.seat-column {
  float: left;
  width: $seat-box-size * 2;

  div {
    height: $seat-box-size;
  }
}

.seat-no-column {
  float: left;
  width: $seat-box-size;
  line-height: $seat-box-size;


  div {
    height: $seat-box-size;
  }
}

.row-indicator {
  span {
    width: $seat-block-size;
    margin: $margin-horizontal;
    border: $border-size transparent solid;
    display: inline-block;
    text-align: center;
  }
}

.seat-no-20 {
  line-height: 100px;
}

// helper

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  text-align: center;
}

//Static elements

.stair {
  background: $color-not-reservable;
  height: $stair-size !important;
  width: $stair-size;
}

.driver {
  background: $color-not-reservable;
  height: $seat-box-size !important;
  width: $seat-box-size;
}

.small-stair {
  background: $color-not-reservable;
  height: $seat-box-size !important;
  width: $stair-size;
}

.not-reservable {
  background: $color-not-reservable;
}

.toilet {
  border: solid 2px $color-not-reservable;
  border-radius: $border-radius;
  height: $seat-box-size !important;
  line-height: $seat-box-size;
  width: $stair-size;
}

.table {
  height: $seat-box-size !important;
  width: $stair-size;
  position: relative;

  div {
    height: 70%;
    width: 80%;
    background: $color-not-reservable;
    border-radius: $border-radius;
  }
}